# Add the location columns

In [2]:
import pandas as pd
import numpy as np
import geocoder

# Define the function to get the latitude and longtitude from postal codes
def get_lat_lng_coords(postal_code):
    lat_lng_coords = None
    
    while(lat_lng_coords is None):
        g = geocoder.google('{}, Toronto, ontario'.format(postal_code))
        lat_lng_coords = g.latlng
    
    return lat_lng_coords[0], lat_lng_coords[1]

### 1. Load the ```Geospatial_Coordinates.csv```

In [11]:
gc_df = pd.read_csv('Geospatial_Coordinates.csv')
print(gc_df.shape)
print(gc_df.head())

(103, 3)
  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Found discrepancy in the column name __Postal Code__

In [14]:
# Rename the first column
gc_df.rename(columns = {"Postal Code": "PostalCode"}, inplace = True)
gc_df.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

### 2. Load the ```Toronto_neighborhoods.csv``` created in the previous notebook into data frame

In [15]:
tn_df = pd.read_csv('Toronto_neighborhoods.csv')
print(tn_df.shape)
tn_df.head()

(103, 3)

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

### 3. Merge two data frames based on ```PostalCode```

In [16]:
total_df = pd.merge(tn_df, gc_df, on = 'PostalCode')
total_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

### 4. Save the merged final data frame to ```Toronto_Neighborhoods_Final.csv```

In [17]:
total_df.to_csv('Toronto_Neighborhoods_Final.csv', index = False)